html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background: transparent !important;
}

body.light {
  background-color: #ffffff;
  color: #111827;
}

body.dark {
  background-color: #07090f;
  color: #f9fafb;
}

